<a id='Top'></a>
<h1> <center>Analytics Programming: Module 8</center> </h1>
<p><h2><center>Cleaning up the NYC Vehicle Crash Data</center> 
<center>supported by a <a href="https://github.com/yuleidner/Katz_Data_Analytics/blob/master/M8/README.md">M8 README file </a></center></h2></p>
<center>Alan Leidner Oct 26, 2019</center>

## In this notebook, I will demonstrate a few techniques to clean tabular data. 
* ### I'll first ingest a subset of the available dataset into a pandas DataFrame, using the Socrata API, from the NYC Open Data portal.
* ### Then I will use functions to look at the data
* ### Using my best judgement and best practices, I will then clean up some of that data.

### First I'll import 100,000 of the 1.6M available rows. 
#### If you run this notebook again in the future, you may find your data is different than mine, and will require different methods or actions to clean.

In [1]:
import pandas as pd
pd.set_option('display.max.columns', None) # Let's me see all columns of head() & tail() functions
crashes = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=100000")

/Users/leidner/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### I'll use the `describe` function which will "generate descriptive statistics that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values." This will work on numeric and object series, and may point out any glaring wholes in the data.

In [2]:
crashes.describe()

,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,unique_key
count,88197.000000,88197.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,1.000000e+05
mean,40.719455,-73.910560,0.278280,0.001500,0.055020,0.000840,0.019660,0.000080,0.20360,0.000580,2.444278e+06
std,0.461516,0.829900,0.663283,0.040716,0.239193,0.028971,0.139691,0.008944,0.62606,0.027197,1.933606e+06
min,0.000000,-74.252876,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.506000e+03
25%,40.668785,-73.975394,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.854888e+05
50%,40.722708,-73.928120,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,4.177044e+06
75%,40.768644,-73.866710,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,4.203252e+06
max,40.912223,0.000000,16.000000,3.000000,6.000000,1.000000,2.000000,1.000000,16.00000,3.000000,4.229085e+06

### Obviously averages and standard deviations dont tell me a lot about latitude and longitude, but I do wonder why I dont have full data counts in those columns. The rest of analysis doesnt appear to have obvious problems.
### Let's take a look at some of those rows using the `isnull` function

In [3]:
crashes[crashes['latitude'].isnull()]

,date,time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
9,2013-03-10T00:00:00.000,16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,NaN,NaN,2912938,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN
10,2013-03-08T00:00:00.000,8:40,NaN,NaN,NaN,NaN,NaN,EAST 176 STREET,EAST TREMONT AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,93106,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
20,2013-03-05T00:00:00.000,10:20,NaN,NaN,NaN,NaN,NaN,HAMILTON AVENUE,CLINTON STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,171440,OTHER,OTHER,NaN,NaN,NaN
23,2013-03-18T00:00:00.000,21:00,NaN,NaN,NaN,NaN,NaN,ASTORIA BOULEVARD,49 STREET,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,275377,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
29,2013-03-15T00:00:00.000,10:30,NaN,NaN,NaN,NaN,NaN,BORDEN AVENUE,VANDAM STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,241484,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
43,2013-03-05T00:00:00.000,12:59,NaN,NaN,NaN,NaN,NaN,EAST GUN HILL ROAD,HOLLAND AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,96868,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
50,2013-03-19T00:00:00.000,13:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2864520,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
86,2013-03-02T00:00:00.000,19:39,NaN,NaN,NaN,NaN,NaN,CHARLES AVENUE,NICHOLAS AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,287328,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
93,2013-02-22T00:00:00.000,12:40,NaN,NaN,NaN,NaN,NaN,3 AVENUE,HAMILTON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,157456,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
95,2013-03-09T00:00:00.000,12:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2864503,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
108,2013-03-02T00:00:00.000,10:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2888848,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
118,2013-02-27T00:00:00.000,19:36,NaN,NaN,NaN,NaN,NaN,QUEENS PLAZA SOUTH,27 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,241307,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
130,2013-03-07T00:00:00.000,22:26,NaN,NaN,NaN,NaN,NaN,HILLSIDE AVENUE,202 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,235177,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
135,2013-02-23T00:00:00.000,0:15,NaN,NaN,NaN,NaN,NaN,WOODSIDE AVENUE,39 AVENUE,NaN,1,0,0,0,0,0,1,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,242586,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
137,2013-02-21T00:00:00.000,9:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GATE 23 AVE & 119 ST,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,249110,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
144,2013-03-13T00:00:00.000,6:28,NaN,NaN,NaN,NaN,NaN,AVENUE C,AVENUE C LOOP,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,23416,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
149,2019-10-22T00:00:00.000,15:45,NaN,NaN,NaN,NaN,NaN,LONG ISLAND EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4227668,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
158,2013-03-11T00:00:00.000,7:35,NaN,NaN,NaN,NaN,NaN,PELHAM PARKWAY SOUTH,EASTCHESTER ROAD,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,104461,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
160,2013-03-18T00:00:00.000,16:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5808 FLATLANDS AVENUE(GAS STATION),0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,127469,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
161,2013-03-07T00:00:00.000,20:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3122300,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
163,2013-03-12T00:00:00.000,18:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,2934275,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
164,2013-03-17T00:00:00.000,16:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,2927332,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
184,2013-03-01T00:00:00.000,9:15,NaN,NaN,NaN,NaN,NaN,REVIEW AVENUE,GREENPOINT AVENUE,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,241319,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
201,2019-10-22T00:00:00.000,17:00,NaN,NaN,NaN,NaN,NaN,138 ROAD,CARSON STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4227691,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
212,2013-03-13T00:00:00.000,14:40,NaN,NaN,NaN,NaN,NaN,FRANCIS LEWIS BOULEVARD,HORACE HARDING EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,NaN,NaN,NaN,235237,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
227,2013-03-20T00:00:00.000,16:09,NaN,NaN,NaN,NaN,NaN,WEST HOUSTON STREET,SIXTH AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2168,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
228,2013-03-14T00:00:00.000,17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2927323,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),NaN,NaN,NaN
229,2013-03-12T00:00:00.000,12:56,NaN,NaN,NaN,NaN,NaN,MC GUINNESS BOULEVARD,EAGLE STREET,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,199319,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
231,2013-02-25T00:00:00.000,14:45,NaN,NaN,NaN,NaN,NaN,FLATBUSH AVENUE,GLENWOOD ROAD,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,149275,BUS,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
237,2013-02-28T00:00:00.000,18:30,NaN,NaN,NaN,NaN,NaN,65 PLACE,MYRTLE AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,215537,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99731,2015-05-07T00:00:00.000,16:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT 108 AND 47,0,0,0,0,0,0,0,0,Driver Inexperience,NaN,NaN,NaN,NaN,3216995,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
99732,2015-05-14T00:00:00.000,16:15,NaN,NaN,NaN,NaN,NaN,UTOPIA PARKWAY,58 AVENUE,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,3221423,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
99735,2015-05-19T00:00:00.000,19:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3223368,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
99736,2015-05-04T00:00:00.000,15:06,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,COLLEGE POINT BOULEVARD,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3214474,LARGE COM VEH(6 OR MORE TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
99752,2015-05-13T00:00:00.000,7:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3219707,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
99755,2015-05-22T00:00:00.000,11:00,NaN,NaN,NaN,NaN,NaN,BAY STREET,VICTORY BOULEVARD,NaN,1,0,0,0,1,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3226886,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
99758,2015-05-04T00:00:00.000,11:45,NaN,NaN,NaN,NaN,NaN,FOREST AVENUE,RICHMOND AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3215273,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
99767,2015-05-14T00:00:00.000,0:15,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,99 STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,3220808,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
99793,2015-05-17T00:00:00.000,2:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Fatigued/Drowsy,NaN,NaN,NaN,3221531,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
99794,2015-05-21T00:00:00.000,10:20,NaN,NaN,NaN,NaN,NaN,FARMERS BOULEVARD,MERRICK BOULEVARD,NaN,2,0,0,0,0,0,2,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3225217,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
99796,2015-05-13T00:00:00.000,13:20,NaN,NaN,NaN,NaN,NaN,CATHERINE STREET,DECKER AVENUE,NaN,4,0,0,0,0,0,4,0,Physical Disability,Unspecified,NaN,NaN,NaN,3220246,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
99798,2015-05-18T00:00:00.000,17:06,NaN,NaN,NaN,NaN,NaN,91 AVENUE,VAN WYCK EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3234996,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
99808,2015-05-08T00:00:00.000,22:15,NaN,NaN,NaN,NaN,NaN,MEEKER AVENUE,MCGUINNESS BOULEVARD,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,3217426,OTHER,PASSENGER VEHICLE,NaN,NaN,NaN
99821,2015-05-02T00:00:00.000,12:44,NaN,NaN,NaN,NaN,NaN,HOYT AVENUE NORTH,27 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3213899,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
99828,2015-05-22T00:00:00.000,11:25,NaN,NaN,NaN,NaN,NaN,92 STREET,HORACE HARDING EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3226817,VAN,PASSENGER VEHICLE,NaN,NaN,NaN
99834,2015-05-22T00:00:00.000,16:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P/L OF 4307 AMBOY ROAD,0,0,0,0,0,0,0,0,Outside Car Distraction,NaN,NaN,NaN,NaN,3226416,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
99842,2015-05-15T00:00:00.000,14:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Lost Consciousness,NaN,NaN,NaN,3222372,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
99868,2015-05-06T00:00:00.000,7:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3215597,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
99878,2015-05-12T00:00:00.000,12:20,NaN,NaN,NaN,NaN,NaN,CROSS BRONX EXPRESSWAY SVC RD S,NOBLE AVENUE,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,3219028,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
99883,2015-05-08T00:00:00.000,18:50,NaN,NaN,NaN,NaN,NaN,GERRITSEN AVENUE,AVENUE U,NaN,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3217285,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
99892,2015-05-21T00:00:00.000,7:50,NaN,NaN,NaN,NaN,NaN,HUGH GRANT CIRCLE,VIRGINIA AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3224811,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
99908,2015-04-29T00:00:00.000,10:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,3211117,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
99920,2015-05-05T00:00:00.000,2:04,NaN,NaN,NaN,NaN,NaN,AMBOY ROAD,RICHMOND ROAD,NaN,1,0,0,0,0,0,1,0,Alcohol Involvement,NaN,NaN,NaN,NaN,3215282,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
99929,2015-05-11T00:00:00.000,22:00,NaN,NaN,NaN,NaN,NaN,MAIN STREET,GRAND CENTRAL PARKWAY,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,3220125,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
99934,2015-05-16T00:00:00.000,0:10,NaN,NaN,NaN,NaN,NaN,LINDEN BOULEVARD,MALTA STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3222484,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
99935,2015-05-01T00:00:00.000,11:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3212433,SMALL COM VEH(4 TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
99938,2015-05-12T00:00:00.000,19:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3219931,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
99981,2015-05-04T00:00:00.000,22:25,NaN,NaN,NaN,NaN,NaN,DEKALB AVENUE,BUSHWICK AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3214367,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
99983,2015-04-30T00:00:00.000,9:45,NaN,NaN,NaN,NaN,NaN,7 AVENUE,79 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3211914,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
99991,2015-05-04T00:00:00.000,13:30,NaN,NaN,NaN,NaN,NaN,QUEENS BOULEVARD,70 ROAD,NaN,0,0,0,0,0,0,0,0,Lost Consciousness,Unspecified,NaN,NaN,NaN,3214499,LARGE COM VEH(6 OR MORE TIRES),PICK-UP TRUCK,NaN,NaN,NaN

### Seems like those rows have valid data.... I wouldn't delete these rows, as the injury/fatality  data may be useful, but I would drop them for location purposes. 
### If I really had some time, I would write/find a program to reverse map the on_street_name to the other fields.
### For now let's lool at some of the other data description functions, like `info` which prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

In [4]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
date                             100000 non-null object
time                             100000 non-null object
borough                          70721 non-null object
zip_code                         70713 non-null object
latitude                         88197 non-null float64
longitude                        88197 non-null float64
location                         88197 non-null object
on_street_name                   80686 non-null object
off_street_name                  67269 non-null object
cross_street_name                13424 non-null object
number_of_persons_injured        100000 non-null int64
number_of_persons_killed         100000 non-null int64
number_of_pedestrians_injured    100000 non-null int64
number_of_pedestrians_killed     100000 non-null int64
number_of_cyclist_injured        100000 non-null int64
number_of_cyclist_killed         100000 non-null int64
number_of_motorist_injured       100000 non-null int64
number_of_motorist_killed        100000 non-null int64
contributing_factor_vehicle_1    99805 non-null object
contributing_factor_vehicle_2    86385 non-null object
contributing_factor_vehicle_3    6722 non-null object
contributing_factor_vehicle_4    1450 non-null object
contributing_factor_vehicle_5    389 non-null object
unique_key                       100000 non-null int64
vehicle_type_code1               99719 non-null object
vehicle_type_code2               84075 non-null object
vehicle_type_code_3              6575 non-null object
vehicle_type_code_4              1422 non-null object
vehicle_type_code_5              379 non-null object
dtypes: float64(2), int64(9), object(18)
memory usage: 22.1+ MB

### It looks like contributing_factor_vehicle_3-5 and vehicle_type_code_3-5 have very few values, compared to the others. Lets tak e aquick peek.

In [5]:
crashes['contributing_factor_vehicle_1'].value_counts()

Unspecified                                              40764
Driver Inattention/Distraction                           18735
Failure to Yield Right-of-Way                             5253
Following Too Closely                                     4586
Backing Unsafely                                          3393
Other Vehicular                                           2751
Fatigued/Drowsy                                           2571
Passing or Lane Usage Improper                            2249
Turning Improperly                                        2227
Passing Too Closely                                       2105
Unsafe Lane Changing                                      1561
Driver Inexperience                                       1377
Traffic Control Disregarded                               1355
Lost Consciousness                                        1031
Pavement Slippery                                          936
Prescription Medication                                    874
Alcohol Involvement                                        808
Outside Car Distraction                                    789
Reaction to Uninvolved Vehicle                             769
Unsafe Speed                                               715
View Obstructed/Limited                                    616
Physical Disability                                        582
Oversized Vehicle                                          531
Aggressive Driving/Road Rage                               384
Passenger Distraction                                      380
Brakes Defective                                           341
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      314
Fell Asleep                                                215
Obstruction/Debris                                         191
Glare                                                      175
Failure to Keep Right                                      143
Other Electronic Device                                    121
Tire Failure/Inadequate                                    118
Steering Failure                                           115
Illness                                                    111
Pavement Defective                                         107
Reaction to Other Uninvolved Vehicle                        77
Animals Action                                              69
Accelerator Defective                                       56
Lane Marking Improper/Inadequate                            53
Illnes                                                      52
Traffic Control Device Improper/Non-Working                 41
Driverless/Runaway Vehicle                                  40
Drugs (illegal)                                             27
Drugs (Illegal)                                             17
Cell Phone (hand-Held)                                      14
Tow Hitch Defective                                         14
Cell Phone (hands-free)                                     14
Using On Board Navigation Device                            10
Vehicle Vandalism                                            7
Eating or Drinking                                           5
Other Lighting Defects                                       4
Shoulders Defective/Improper                                 3
Cell Phone (hand-held)                                       3
Headlights Defective                                         2
Listening/Using Headphones                                   2
Windshield Inadequate                                        1
Tinted Windows                                               1
Name: contributing_factor_vehicle_1, dtype: int64

In [6]:
crashes['contributing_factor_vehicle_3'].value_counts()

Unspecified                                    6336
Other Vehicular                                 102
Driver Inattention/Distraction                   75
Following Too Closely                            71
Fatigued/Drowsy                                  43
Pavement Slippery                                18
Reaction to Uninvolved Vehicle                   11
Outside Car Distraction                           9
Backing Unsafely                                  8
Unsafe Speed                                      8
Traffic Control Disregarded                       6
Passing or Lane Usage Improper                    6
Failure to Yield Right-of-Way                     4
Driver Inexperience                               3
Turning Improperly                                3
Brakes Defective                                  2
Physical Disability                               2
Fell Asleep                                       2
Obstruction/Debris                                2
Lost Consciousness                                1
Aggressive Driving/Road Rage                      1
Drugs (illegal)                                   1
Oversized Vehicle                                 1
Glare                                             1
Traffic Control Device Improper/Non-Working       1
Passenger Distraction                             1
Unsafe Lane Changing                              1
Prescription Medication                           1
Passing Too Closely                               1
Other Electronic Device                           1
Name: contributing_factor_vehicle_3, dtype: int64

### It looks to me like like the "contributing_factor" fields might record muiltiple factors for the incident, and someone would record up to five factors. I would feel comfotable dropping the last 3 columns, considering how few entries they have in comparison.

In [20]:
crashes.drop(columns=['contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5'])
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
date                             100000 non-null datetime64[ns]
time                             100000 non-null object
borough                          70721 non-null object
zip_code                         70713 non-null object
latitude                         88197 non-null float64
longitude                        88197 non-null float64
location                         88197 non-null object
on_street_name                   80686 non-null object
off_street_name                  67269 non-null object
cross_street_name                13424 non-null object
number_of_persons_injured        100000 non-null int64
number_of_persons_killed         100000 non-null int64
number_of_pedestrians_injured    100000 non-null int64
number_of_pedestrians_killed     100000 non-null int64
number_of_cyclist_injured        100000 non-null int64
number_of_cyclist_killed         100000 non-null int64
number_of_motorist_injured       100000 non-null int64
number_of_motorist_killed        100000 non-null int64
contributing_factor_vehicle_1    99805 non-null object
contributing_factor_vehicle_2    86385 non-null object
contributing_factor_vehicle_3    6722 non-null object
contributing_factor_vehicle_4    1450 non-null object
contributing_factor_vehicle_5    389 non-null object
unique_key                       100000 non-null int64
vehicle_type_code_1              99719 non-null object
vehicle_type_code_2              84075 non-null object
vehicle_type_code_3              6575 non-null object
vehicle_type_code_4              1422 non-null object
vehicle_type_code_5              379 non-null object
dtypes: datetime64[ns](1), float64(2), int64(9), object(17)
memory usage: 22.1+ MB

In [21]:
crashes.head()

,date,time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,unique_key,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2013-02-23,8:00,BROOKLYN,11233,40.672294,-73.913117,POINT (-73.913117 40.6722935),EASTERN PARKWAY,PROSPECT PLACE,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Pavement Slippery,NaN,NaN,NaN,161352,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1,2013-03-17,22:00,NaN,NaN,40.736876,-73.844945,POINT (-73.8449449 40.7368759),NaN,NaN,NaN,0,0,0,0,0,0,0,0,Lost Consciousness,Unspecified,NaN,NaN,NaN,3065403,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
2,2013-03-05,12:40,MANHATTAN,10023,40.781025,-73.981310,POINT (-73.9813103 40.7810254),WEST 75 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,53578,VAN,PASSENGER VEHICLE,NaN,NaN,NaN
3,2013-03-20,9:15,QUEENS,11421,40.693050,-73.853838,POINT (-73.8538385 40.6930498),91 STREET,JAMAICA AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,205735,PASSENGER VEHICLE,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2013-02-23,16:40,BRONX,10466,40.888702,-73.839206,POINT (-73.8392055 40.8887024),EAST 233 STREET,MURDOCK AVENUE,NaN,6,0,0,0,0,0,6,0,Unspecified,Unspecified,NaN,NaN,NaN,96792,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

### Already we have a smaller dataframe, which has better consistency! Now for the vehicle types.

In [8]:
crashes['vehicle_type_code1'].value_counts()

PASSENGER VEHICLE                      28084
Sedan                                  22139
Station Wagon/Sport Utility Vehicle    18839
SPORT UTILITY / STATION WAGON          11169
TAXI                                    2326
Taxi                                    2232
VAN                                     1542
Pick-up Truck                           1521
UNKNOWN                                 1339
OTHER                                   1331
Box Truck                               1046
LARGE COM VEH(6 OR MORE TIRES)           891
BUS                                      860
Bus                                      807
SMALL COM VEH(4 TIRES)                   779
PICK-UP TRUCK                            732
LIVERY VEHICLE                           577
Bike                                     562
Motorcycle                               406
Tractor Truck Diesel                     367
Van                                      300
Convertible                              168
Dump                                     149
AMBULANCE                                146
Flat Bed                                 121
MOTORCYCLE                               118
Ambulance                                116
E-Sco                                     88
Garbage or Refuse                         85
PK                                        66
                                       ...
tract                                      1
acces                                      1
MOBIL                                      1
CITY                                       1
GARBA                                      1
LTR                                        1
CAB                                        1
dump                                       1
road                                       1
LIMOU                                      1
Box T                                      1
tk                                         1
van t                                      1
fire                                       1
RMP V                                      1
Parce                                      1
VAN/T                                      1
g spc                                      1
box t                                      1
CRANE                                      1
deliv                                      1
SELF                                       1
VAN T                                      1
bus                                        1
schoo                                      1
fdny                                       1
AMB                                        1
Scoot                                      1
REP                                        1
comme                                      1
Name: vehicle_type_code1, Length: 187, dtype: int64

In [9]:
crashes['vehicle_type_code_3'].value_counts()

PASSENGER VEHICLE                      1889
Sedan                                  1563
Station Wagon/Sport Utility Vehicle    1317
SPORT UTILITY / STATION WAGON           858
UNKNOWN                                 247
Taxi                                    103
VAN                                      78
Pick-up Truck                            78
TAXI                                     67
OTHER                                    64
PICK-UP TRUCK                            49
LARGE COM VEH(6 OR MORE TIRES)           37
Box Truck                                30
Motorcycle                               27
LIVERY VEHICLE                           25
BUS                                      21
SMALL COM VEH(4 TIRES)                   19
Bike                                     16
Van                                      12
Bus                                      11
Tractor Truck Diesel                     10
Convertible                               8
BICYCLE                                   7
Ambulance                                 4
E-Bik                                     3
PK                                        3
Moped                                     3
Tow Truck / Wrecker                       2
MOTORCYCLE                                2
AMBULANCE                                 2
LIMO                                      2
box t                                     1
Dump                                      1
Open Body                                 1
FIRE TRUCK                                1
Tanker                                    1
SCHOO                                     1
FOOD                                      1
Stake or Rack                             1
Tractor Truck Gasoline                    1
Motorbike                                 1
Lift Boom                                 1
Motorscooter                              1
Pallet                                    1
Fire                                      1
back                                      1
DELIV                                     1
Bulk Agriculture                          1
Flat Bed                                  1
Name: vehicle_type_code_3, dtype: int64

In [10]:
crashes.head()

,date,time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2013-02-23T00:00:00.000,8:00,BROOKLYN,11233,40.672294,-73.913117,POINT (-73.913117 40.6722935),EASTERN PARKWAY,PROSPECT PLACE,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Pavement Slippery,NaN,NaN,NaN,161352,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1,2013-03-17T00:00:00.000,22:00,NaN,NaN,40.736876,-73.844945,POINT (-73.8449449 40.7368759),NaN,NaN,NaN,0,0,0,0,0,0,0,0,Lost Consciousness,Unspecified,NaN,NaN,NaN,3065403,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
2,2013-03-05T00:00:00.000,12:40,MANHATTAN,10023,40.781025,-73.981310,POINT (-73.9813103 40.7810254),WEST 75 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,53578,VAN,PASSENGER VEHICLE,NaN,NaN,NaN
3,2013-03-20T00:00:00.000,9:15,QUEENS,11421,40.693050,-73.853838,POINT (-73.8538385 40.6930498),91 STREET,JAMAICA AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,205735,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4,2013-02-23T00:00:00.000,16:40,BRONX,10466,40.888702,-73.839206,POINT (-73.8392055 40.8887024),EAST 233 STREET,MURDOCK AVENUE,NaN,6,0,0,0,0,0,6,0,Unspecified,Unspecified,NaN,NaN,NaN,96792,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

### It seems to me that the multiple fields for "vehicle_type_code" might indicate different cars in the crash, and that data might be more valueable for analyses on larger crashes. I will leave this data for now, but modify the column names to standardize the dataset using the `rename` function.

In [11]:
crashes.rename(columns={'vehicle_type_code1':'vehicle_type_code_1',
                        'vehicle_type_code2':'vehicle_type_code_2',
                       }, 
               inplace=True)

### When looking at value_counts() of contributing factors, I noted some duplicates. Let's clean those up now, first by looking at the `unique` values.

In [13]:
crashes['contributing_factor_vehicle_1'].unique()

array(['Fatigued/Drowsy', 'Lost Consciousness', 'Unspecified',
       'Prescription Medication', 'Driver Inattention/Distraction',
       'Driver Inexperience', 'Backing Unsafely',
       'Failure to Yield Right-of-Way', 'Alcohol Involvement',
       'Physical Disability', 'Pavement Slippery', 'Glare',
       'Traffic Control Disregarded', 'Passenger Distraction',
       'Other Vehicular', 'Failure to Keep Right', 'Turning Improperly',
       'Outside Car Distraction', 'View Obstructed/Limited',
       'Other Electronic Device', nan, 'Oversized Vehicle',
       'Reaction to Uninvolved Vehicle',
       'Lane Marking Improper/Inadequate', 'Animals Action',
       'Drugs (Illegal)', 'Aggressive Driving/Road Rage',
       'Passing or Lane Usage Improper', 'Illness', 'Obstruction/Debris',
       'Reaction to Other Uninvolved Vehicle', 'Brakes Defective',
       'Pavement Defective', 'Illnes', 'Following Too Closely',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Unsafe Speed', 'Unsafe Lane Changing', 'Tire Failure/Inadequate',
       'Fell Asleep', 'Steering Failure', 'Cell Phone (hand-held)',
       'Passing Too Closely',
       'Traffic Control Device Improper/Non-Working',
       'Accelerator Defective', 'Windshield Inadequate',
       'Tow Hitch Defective', 'Cell Phone (hands-free)',
       'Shoulders Defective/Improper', 'Other Lighting Defects',
       'Headlights Defective', 'Drugs (illegal)',
       'Driverless/Runaway Vehicle', 'Eating or Drinking',
       'Tinted Windows', 'Vehicle Vandalism', 'Cell Phone (hand-Held)',
       'Using On Board Navigation Device', 'Listening/Using Headphones'],
      dtype=object)

### I see "Illnes" missspelled in addition to 'Illness', in  'Drugs (illegal)' and 'Drugs (Illegal)'. Let's fix those

In [14]:
crashes['contributing_factor_vehicle_1'].replace('Illnes', 'Illness', inplace=True)
crashes['contributing_factor_vehicle_1'].replace('Drugs (illegal)', 'Drugs (Illegal)', inplace=True)
crashes['contributing_factor_vehicle_1'].unique()

array(['Fatigued/Drowsy', 'Lost Consciousness', 'Unspecified',
       'Prescription Medication', 'Driver Inattention/Distraction',
       'Driver Inexperience', 'Backing Unsafely',
       'Failure to Yield Right-of-Way', 'Alcohol Involvement',
       'Physical Disability', 'Pavement Slippery', 'Glare',
       'Traffic Control Disregarded', 'Passenger Distraction',
       'Other Vehicular', 'Failure to Keep Right', 'Turning Improperly',
       'Outside Car Distraction', 'View Obstructed/Limited',
       'Other Electronic Device', nan, 'Oversized Vehicle',
       'Reaction to Uninvolved Vehicle',
       'Lane Marking Improper/Inadequate', 'Animals Action',
       'Drugs (Illegal)', 'Aggressive Driving/Road Rage',
       'Passing or Lane Usage Improper', 'Illness', 'Obstruction/Debris',
       'Reaction to Other Uninvolved Vehicle', 'Brakes Defective',
       'Pavement Defective', 'Following Too Closely',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Unsafe Speed', 'Unsafe Lane Changing', 'Tire Failure/Inadequate',
       'Fell Asleep', 'Steering Failure', 'Cell Phone (hand-held)',
       'Passing Too Closely',
       'Traffic Control Device Improper/Non-Working',
       'Accelerator Defective', 'Windshield Inadequate',
       'Tow Hitch Defective', 'Cell Phone (hands-free)',
       'Shoulders Defective/Improper', 'Other Lighting Defects',
       'Headlights Defective', 'Driverless/Runaway Vehicle',
       'Eating or Drinking', 'Tinted Windows', 'Vehicle Vandalism',
       'Cell Phone (hand-Held)', 'Using On Board Navigation Device',
       'Listening/Using Headphones'], dtype=object)

In [15]:
crashes['contributing_factor_vehicle_2'].unique()

array(['Pavement Slippery', 'Unspecified', nan,
       'Driver Inattention/Distraction', 'Fatigued/Drowsy',
       'Driver Inexperience', 'Traffic Control Disregarded',
       'Alcohol Involvement', 'Outside Car Distraction',
       'Backing Unsafely', 'Other Vehicular', 'Turning Improperly',
       'Failure to Yield Right-of-Way', 'Passenger Distraction',
       'Lost Consciousness', 'Physical Disability',
       'Reaction to Uninvolved Vehicle', 'Illness',
       'Unsafe Lane Changing', 'Oversized Vehicle',
       'Aggressive Driving/Road Rage', 'Other Electronic Device',
       'Obstruction/Debris', 'View Obstructed/Limited',
       'Prescription Medication', 'Fell Asleep',
       'Passing or Lane Usage Improper', 'Steering Failure',
       'Reaction to Other Uninvolved Vehicle', 'Pavement Defective',
       'Following Too Closely', 'Unsafe Speed',
       'Traffic Control Device Improper/Non-Working',
       'Lane Marking Improper/Inadequate', 'Brakes Defective', 'Glare',
       'Failure to Keep Right',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Accelerator Defective', 'Drugs (Illegal)',
       'Tire Failure/Inadequate', 'Cell Phone (hand-held)',
       'Passing Too Closely', 'Cell Phone (hands-free)', 'Animals Action',
       'Driverless/Runaway Vehicle', 'Other Lighting Defects',
       'Shoulders Defective/Improper', 'Headlights Defective',
       'Eating or Drinking', 'Tow Hitch Defective', 'Illnes',
       'Tinted Windows'], dtype=object)

### contributing_factor_vehicle_2 had the same problem with 'Illnes' being missspelled, so we will fix it now.

In [16]:
crashes['contributing_factor_vehicle_2'].replace('Illnes', 'Illness', inplace=True)

### The crashes vehicle_type_code columns had a few similare problems, which we will clean now.

In [17]:
crashes['vehicle_type_code_1'].replace('TAXI', 'Taxi', inplace=True)
crashes['vehicle_type_code_2'].replace('TAXI', 'Taxi', inplace=True)
crashes['vehicle_type_code_3'].replace('TAXI', 'Taxi', inplace=True)
crashes['vehicle_type_code_4'].replace('TAXI', 'Taxi', inplace=True)
crashes['vehicle_type_code_5'].replace('TAXI', 'Taxi', inplace=True)
crashes['vehicle_type_code_1'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
crashes['vehicle_type_code_2'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
crashes['vehicle_type_code_3'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
crashes['vehicle_type_code_4'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
crashes['vehicle_type_code_5'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
crashes['vehicle_type_code_1'].replace('AMBULANCE', 'Ambulance', inplace=True)
crashes['vehicle_type_code_2'].replace('AMBULANCE', 'Ambulance', inplace=True)
crashes['vehicle_type_code_3'].replace('AMBULANCE', 'Ambulance', inplace=True)
crashes['vehicle_type_code_4'].replace('AMBULANCE', 'Ambulance', inplace=True)
crashes['vehicle_type_code_5'].replace('AMBULANCE', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('SPORT UTILITY / STATION WAGON', 'Station Wagon/Sport Utility Vehicle', inplace=True)
crashes['vehicle_type_code_2'].replace('SPORT UTILITY / STATION WAGON', 'Station Wagon/Sport Utility Vehicle', inplace=True)
crashes['vehicle_type_code_3'].replace('SPORT UTILITY / STATION WAGON', 'Station Wagon/Sport Utility Vehicle', inplace=True)
crashes['vehicle_type_code_4'].replace('SPORT UTILITY / STATION WAGON', 'Station Wagon/Sport Utility Vehicle', inplace=True)
crashes['vehicle_type_code_5'].replace('SPORT UTILITY / STATION WAGON', 'Station Wagon/Sport Utility Vehicle', inplace=True)

In [23]:
crashes['vehicle_type_code_1'].value_counts()

Station Wagon/Sport Utility Vehicle    30008
PASSENGER VEHICLE                      28084
Sedan                                  22139
Taxi                                    4558
Pick-up Truck                           2253
VAN                                     1542
UNKNOWN                                 1339
OTHER                                   1331
Box Truck                               1046
LARGE COM VEH(6 OR MORE TIRES)           891
BUS                                      860
Bus                                      807
SMALL COM VEH(4 TIRES)                   779
LIVERY VEHICLE                           577
Bike                                     562
Motorcycle                               406
Tractor Truck Diesel                     367
Van                                      300
Ambulance                                262
Convertible                              168
Dump                                     149
Flat Bed                                 121
MOTORCYCLE                               118
E-Sco                                     88
Garbage or Refuse                         85
PK                                        66
Carry All                                 63
E-Bik                                     60
Tractor Truck Gasoline                    58
FIRE TRUCK                                43
                                       ...
MOBIL                                      1
tract                                      1
CITY                                       1
GARBA                                      1
LTR                                        1
CAB                                        1
dump                                       1
road                                       1
LIMOU                                      1
Box T                                      1
tk                                         1
van t                                      1
fire                                       1
RMP V                                      1
Parce                                      1
VAN/T                                      1
COMM                                       1
box t                                      1
CRANE                                      1
deliv                                      1
SELF                                       1
VAN T                                      1
bus                                        1
schoo                                      1
fdny                                       1
AMB                                        1
Scoot                                      1
REP                                        1
acces                                      1
comme                                      1
Name: vehicle_type_code_1, Length: 183, dtype: int64

### I could spend another half an hour combing through that dataset for misspelings, weird groups etc. I will focus just on vehicle_type_code_1 for now, and I will leave the rest for another time, if someone is interested in that subset of the data.

In [24]:
crashes['vehicle_type_code_1'].replace('Other', 'Unknown', inplace=True)
crashes['vehicle_type_code_1'].replace('BUS', 'Bus', inplace=True)
crashes['vehicle_type_code_1'].replace('Box T', 'Box Truck', inplace=True)
crashes['vehicle_type_code_1'].replace('GARBA', 'Garbage or Refuse', inplace=True)
crashes['vehicle_type_code_1'].replace('CAB', 'Cab', inplace=True)
crashes['vehicle_type_code_1'].replace('fdny', 'FIRE TRUCK', inplace=True)
crashes['vehicle_type_code_1'].unique()

array(['PASSENGER VEHICLE', 'VAN', 'Station Wagon/Sport Utility Vehicle',
       'Taxi', 'SMALL COM VEH(4 TIRES) ', 'OTHER',
       'LARGE COM VEH(6 OR MORE TIRES)', 'UNKNOWN', 'Pick-up Truck',
       'Bus', 'LIVERY VEHICLE', 'Sedan', 'MOTORCYCLE', 'Ambulance',
       'FIRE TRUCK', 'Bike', nan, 'PK', 'BICYCLE', 'SCOOTER', 'Box Truck',
       'Flat Bed', '4 dr sedan', 'Motorcycle', 'TRACT', 'RMP V', 'Van',
       'Tractor Truck Diesel', 'Convertible', 'Motorbike', 'ambul',
       'Dump', 'E-Sco', 'LIMO', '2015', 'Tractor Truck Gasoline', 'BOX',
       'Tanker', 'DOT T', 'Carry All', 'Garbage or Refuse', 'AMBUL',
       'Chassis Cab', 'Moped', 'E-Bik', 'Ambu', 'TRAIL', 'Beverage Truck',
       'FIRET', 'FDNY', 'TANKE', 'School Bus', 'Truck', 'Armored Truck',
       'Flat Rack', 'TRUCK', 'Bulk Agriculture', '2 dr sedan', 'FLAT/',
       'Tow Truck / Wrecker', 'MTA B', 'van', 'Scoot', 'road', 'FIRE',
       'Motorscooter', 'DELV', 'Horse', 'TOW T', 'TRC', 'Forkl', 'UTILI',
       'COM', 'Stake or Rack', 'AMB', '3-Door', 'Ambul', 'VAN/T',
       'Refrigerated Van', 'FEDEX', 'FUEL', 'schoo', 'RV',
       'Concrete Mixer', 'REP', 'Trail', 'Multi-Wheeled Vehicle', 'DELIV',
       'Food', 'FLAT', 'ROAD', 'SEMI', 'Lift Boom', 'Pallet', 'DUMP',
       'SKATE', 'G COM', 'CRANE', 'deliv', 'tract', 'USP M', 'scoot',
       'trail', 'COMME', 'Const', 'TRK', 'BOX T', 'LIEBH',
       'Pickup with mounted Camper', 'SANTI', 'COMM', '35 FT', 'Pedicab',
       'BoxTr', 'acces', 'MOPED', 'comme', 'Unkno', 'Motorized Home',
       'SELF', 'Open Body', 'PU', '3 WHE', 'Tow Truck', 'City', 'CAT.',
       'GOLF', 'limo', 'SPRIN', 'Cab', 'truck', 'UT', 'HI TA', 'PICKU',
       'Van Camper', 'bus', 'BACKH', 'tow t', 'USPS', 'STREE', 'forkl',
       'back', 'van t', 'fire', 'REFG', 'Tow T', 'Lunch Wagon', 'UTIL',
       'POLIC', 'Minibike', 'CONT', 'FORK', 'LTR', 'MACK', 'g spc',
       'POWER', 'prks', 'CITY', 'TRLR', 'trl', 'MINI', 'WINEB', 'Parce',
       'Fire', 'E BIK', 'PICK-', 'box t', 'VAN T', 'dump', 'AMBU',
       'LIMOU', 'Sprin', 'SCOOT', 'tk', 'vespa', 'MOBIL', 'stree', 'Golf',
       'UHAUL', 'TOWTR'], dtype=object)

In [26]:
crashes['vehicle_type_code_1'].replace('VAN T', 'Van', inplace=True)
crashes['vehicle_type_code_1'].replace('van', 'Van', inplace=True)
crashes['vehicle_type_code_1'].replace('VAN/T', 'Van', inplace=True)
crashes['vehicle_type_code_1'].replace('van t', 'Van', inplace=True)
crashes['vehicle_type_code_1'].replace('van', 'Van', inplace=True)
crashes['vehicle_type_code_1'].replace('VAN', 'Van', inplace=True)
crashes['vehicle_type_code_1'].replace('AMBU', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('Ambul', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('AMB', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('Ambu', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('AMBUL', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('ambul', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('Ambu', 'Ambulance', inplace=True)
crashes['vehicle_type_code_1'].replace('Fire', 'FIRE TRUCK', inplace=True)
crashes['vehicle_type_code_1'].replace('fire', 'FIRE TRUCK', inplace=True)
crashes['vehicle_type_code_1'].replace('FIRE', 'FIRE TRUCK', inplace=True)
crashes['vehicle_type_code_1'].replace('FIRET', 'FIRE TRUCK', inplace=True)
crashes['vehicle_type_code_1'].replace('FDNY', 'FIRE TRUCK', inplace=True)
crashes['vehicle_type_code_1'].unique()

array(['PASSENGER VEHICLE', 'Van', 'Station Wagon/Sport Utility Vehicle',
       'Taxi', 'SMALL COM VEH(4 TIRES) ', 'OTHER',
       'LARGE COM VEH(6 OR MORE TIRES)', 'UNKNOWN', 'Pick-up Truck',
       'Bus', 'LIVERY VEHICLE', 'Sedan', 'MOTORCYCLE', 'Ambulance',
       'FIRE TRUCK', 'Bike', nan, 'PK', 'BICYCLE', 'SCOOTER', 'Box Truck',
       'Flat Bed', '4 dr sedan', 'Motorcycle', 'TRACT', 'RMP V',
       'Tractor Truck Diesel', 'Convertible', 'Motorbike', 'Dump',
       'E-Sco', 'LIMO', '2015', 'Tractor Truck Gasoline', 'BOX', 'Tanker',
       'DOT T', 'Carry All', 'Garbage or Refuse', 'Chassis Cab', 'Moped',
       'E-Bik', 'TRAIL', 'Beverage Truck', 'TANKE', 'School Bus', 'Truck',
       'Armored Truck', 'Flat Rack', 'TRUCK', 'Bulk Agriculture',
       '2 dr sedan', 'FLAT/', 'Tow Truck / Wrecker', 'MTA B', 'Scoot',
       'road', 'Motorscooter', 'DELV', 'Horse', 'TOW T', 'TRC', 'Forkl',
       'UTILI', 'COM', 'Stake or Rack', '3-Door', 'Refrigerated Van',
       'FEDEX', 'FUEL', 'schoo', 'RV', 'Concrete Mixer', 'REP', 'Trail',
       'Multi-Wheeled Vehicle', 'DELIV', 'Food', 'FLAT', 'ROAD', 'SEMI',
       'Lift Boom', 'Pallet', 'DUMP', 'SKATE', 'G COM', 'CRANE', 'deliv',
       'tract', 'USP M', 'scoot', 'trail', 'COMME', 'Const', 'TRK',
       'BOX T', 'LIEBH', 'Pickup with mounted Camper', 'SANTI', 'COMM',
       '35 FT', 'Pedicab', 'BoxTr', 'acces', 'MOPED', 'comme', 'Unkno',
       'Motorized Home', 'SELF', 'Open Body', 'PU', '3 WHE', 'Tow Truck',
       'City', 'CAT.', 'GOLF', 'limo', 'SPRIN', 'Cab', 'truck', 'UT',
       'HI TA', 'PICKU', 'Van Camper', 'bus', 'BACKH', 'tow t', 'USPS',
       'STREE', 'forkl', 'back', 'REFG', 'Tow T', 'Lunch Wagon', 'UTIL',
       'POLIC', 'Minibike', 'CONT', 'FORK', 'LTR', 'MACK', 'g spc',
       'POWER', 'prks', 'CITY', 'TRLR', 'trl', 'MINI', 'WINEB', 'Parce',
       'E BIK', 'PICK-', 'box t', 'dump', 'LIMOU', 'Sprin', 'SCOOT', 'tk',
       'vespa', 'MOBIL', 'stree', 'Golf', 'UHAUL', 'TOWTR'], dtype=object)

### Even in one column you can see how much variation there is. I would suggest that whoever created this dataset turns this from a "fill in the blank" text field to a select field froma  predetermined loist, to get better data fidelity, and I hope by this point, you can see why. Although there is more work to be done, I'll turn to another important part of data cleanup: Typecasting.Â¶

In [18]:
crashes['date'].dtype

dtype('O')

### Pandas has a lot of functionality that will remain untapped until we convert this into a proper datetime object, using the `to_datetime` function

In [19]:
crashes['date'] = pd.to_datetime(crashes['date'])
crashes['date'].dtype

dtype('<M8[ns]')

# <center> <br>[Begining of the page](#Top)</center>