<a id='Top'></a>
# <center>Analytics Programming: Module 2</center>  
## <center>Demonstrating lists, loops, and comprehensions, supported by a README file </center>
#### <center> Alan Leidner Sept 15, 2019</center>

## 1) Create a list of all lower case letters and a separate list of the numbers 1-26.

In [3]:
letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]

## 2) Use a for loop to print " [ number ] is a multiple of 4"
* substitute the appropriate number, every time the number in your list of numbers is, in fact, a multiple of 4 (divides into 4 with no remainder)".

In [5]:
for i in numbers:
    if i % 4 == 0:
        print(f'{i} is a multiple of 4')

4 is a multiple of 4
8 is a multiple of 4
12 is a multiple of 4
16 is a multiple of 4
20 is a multiple of 4
24 is a multiple of 4

## 3) Print both lists and print their types.

* When you print the types, print the types in a sentence where you concatenate (paste together) some words and the output of "type()".
* Not sure how to make the output of type into a printable string? Try "str()"!
* The output could look something like "letters is of type <class 'list'>".

In [51]:
print(f'letters is of type {type(letters)}') 
print (letters)
print('\n')
print(f'numbers is of type {type(numbers)}') 
print (numbers)

letters is of type <class 'list'>
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']


numbers is of type <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

## 4) Using zip, create a list of tuples, where each tuple consists of the lower case letter and its numerical equivalent, 1-26. 
* You could call this "tupleList" or something equally helpful.
* Print the list of tuples you just created

In [31]:
tupleList = list(zip(letters,numbers))

In [29]:
tupleList

[('a', 1),
 ('b', 2),
 ('c', 3),
 ('d', 4),
 ('e', 5),
 ('f', 6),
 ('g', 7),
 ('h', 8),
 ('i', 9),
 ('j', 10),
 ('k', 11),
 ('l', 12),
 ('m', 13),
 ('n', 14),
 ('o', 15),
 ('p', 16),
 ('q', 17),
 ('r', 18),
 ('s', 19),
 ('t', 20),
 ('u', 21),
 ('v', 22),
 ('w', 23),
 ('x', 24),
 ('y', 25),
 ('z', 26)]

## 6) Print the type of the list and the type of the first element in that list.
* Again, printing the type in a sentence you compose by concatenating a string with the output of "type()".

In [34]:
print(f'tupleList is of type {type(tupleList)}, and the first element is {tupleList[0]}')

tupleList is of type <class 'list'>, and the first element is ('a', 1)

## 7) Using list comprehension, create a list of letters for which have ordinal values (1-26) that are multiples of 4.

In [53]:
letter_mod_four = [i[0] for i in tupleList if i[1] % 4 ==0]
letter_mod_four

['d', 'h', 'l', 'p', 't', 'x']

# <center>[“Begining of the page”](#Top)</center>