<a id='Top'></a>
# Analytics Programming: Module 12
## Statistical Tests
#### Alan Leidner Nov 17, 2019

In this notebook I will analyze car crash data from nyc's opendata set, using statistical tests.


1. [Importing](#Importing)
2. [Analysis & Cleaning](#Cleaning)
3. [Statistical Analysis](#Statistics)
4. [Closing Thoughts](#Conclusion)
    

DataSource: https://data.cityofnewyork.us/resource/h9gi-nx95

### Importing the data<a id='Importing'></a>
First I will import the data using the Socrata API from the website.
I will import all available rows into a dataframe which will let us read the csv data.
<br><div style="text-align: right">[Begining of the page](#Top)</div>

In [1]:
import pandas as pd
import datetime as dt
pd.set_option('display.max_colwidth', -1) # Shows full cell text, instead of  truncated data in cells
pd.set_option('display.max.columns', None) # Let's me see all columns when calling a dataframe
crashes = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=2000000")

/Users/leidner/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We will take a quick look at our data before we get started

In [2]:
pd.concat([crashes.head(2), crashes.tail(2)], axis=0)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2012-07-23T00:00:00.000,16:30,QUEENS,11368,40.751545,-73.870843,POINT (-73.8708432 40.7515446),37 AVENUE,JUNCTION BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,279832,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1,2012-08-14T00:00:00.000,18:00,QUEENS,11101,40.744962,-73.935415,POINT (-73.9354154 40.7449621),31 STREET,THOMSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,239102,PASSENGER VEHICLE,PICK-UP TRUCK,NaN,NaN,NaN
1608163,2012-09-11T00:00:00.000,9:26,BROOKLYN,11211,40.717516,-73.943169,POINT (-73.943169 40.7175158),WITHERS STREET,HUMBOLDT STREET,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Unspecified,NaN,NaN,NaN,198502,OTHER,PASSENGER VEHICLE,NaN,NaN,NaN
1608164,2012-09-05T00:00:00.000,17:10,QUEENS,11415,40.712001,-73.825456,POINT (-73.8254559 40.7120013),QUEENS BOULEVARD,83 AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Passenger Distraction,NaN,NaN,NaN,NaN,204233,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

### Analyzing & Cleaning the data<a id='Cleaning'></a>
Lets see what our rectuangular data looks like from a high level
<br><div style="text-align: right">[Begining of the page](#Top)</div>

In [3]:
crashes.shape

(1608165, 29)

We have a bit over 1.5 Million rows of data, and 29 columns. But how much of the data is actually populated?
I'll look to see how much of the set is null now.

In [4]:
crashes.isnull().mean().round(4) * 100

accident_date                    0.00
accident_time                    0.00
borough                          30.33
zip_code                         30.34
latitude                         12.22
longitude                        12.22
location                         12.22
on_street_name                   19.60
off_street_name                  33.49
cross_street_name                86.13
number_of_persons_injured        0.00
number_of_persons_killed         0.00
number_of_pedestrians_injured    0.00
number_of_pedestrians_killed     0.00
number_of_cyclist_injured        0.00
number_of_cyclist_killed         0.00
number_of_motorist_injured       0.00
number_of_motorist_killed        0.00
contributing_factor_vehicle_1    0.26
contributing_factor_vehicle_2    13.44
contributing_factor_vehicle_3    93.53
contributing_factor_vehicle_4    98.65
contributing_factor_vehicle_5    99.66
collision_id                     0.00
vehicle_type_code1               0.34
vehicle_type_code2               16.49
vehicle_type_code_3              91.73
vehicle_type_code_4              96.93
vehicle_type_code_5              99.34
dtype: float64

The higher the number, the more data is empty here. To make my notebook more effiicient, I will drop any column that has more than 30% of its data missing.

In [5]:
clean_crashes = crashes.dropna(thresh=(0.30 * crashes.shape[0]), axis=1).copy()
clean_crashes.isnull().mean().round(4) * 100

accident_date                    0.00
accident_time                    0.00
borough                          30.33
zip_code                         30.34
latitude                         12.22
longitude                        12.22
location                         12.22
on_street_name                   19.60
off_street_name                  33.49
number_of_persons_injured        0.00
number_of_persons_killed         0.00
number_of_pedestrians_injured    0.00
number_of_pedestrians_killed     0.00
number_of_cyclist_injured        0.00
number_of_cyclist_killed         0.00
number_of_motorist_injured       0.00
number_of_motorist_killed        0.00
contributing_factor_vehicle_1    0.26
contributing_factor_vehicle_2    13.44
collision_id                     0.00
vehicle_type_code1               0.34
vehicle_type_code2               16.49
dtype: float64

It still looks like we have columns we wont be using. It seems to me that `vehicle_type_code1` and `contributing_factor_vehicle_1` were significatly higher than the other 8 related columns. I suspect that the subsequent columns were filled out with additional data, but the first rows were the primary. I will drop the remaining subsequent rows now. I'm also dropping the street names, and `collision_id` as redundant data.

In [6]:
clean_crashes.drop(columns=["collision_id", "on_street_name", "off_street_name", "contributing_factor_vehicle_2", 
                            "vehicle_type_code2"], inplace=True)
clean_crashes.isnull().mean().round(4) * 100

accident_date                    0.00
accident_time                    0.00
borough                          30.33
zip_code                         30.34
latitude                         12.22
longitude                        12.22
location                         12.22
number_of_persons_injured        0.00
number_of_persons_killed         0.00
number_of_pedestrians_injured    0.00
number_of_pedestrians_killed     0.00
number_of_cyclist_injured        0.00
number_of_cyclist_killed         0.00
number_of_motorist_injured       0.00
number_of_motorist_killed        0.00
contributing_factor_vehicle_1    0.26
vehicle_type_code1               0.34
dtype: float64

In [7]:
clean_crashes.shape

(1608165, 17)

That is a much cleaner data set. If I want to examine boroughs or zip codes, I will drop more data, but this is good enough for now.

I noticed earlier that the `accident_date` column into was not a datetime object. I'll change that now to make the dataset easier to work with later.

In [8]:
clean_crashes['accident_date'] = pd.to_datetime(clean_crashes['accident_date'])
clean_crashes.tail(3)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,vehicle_type_code1
1608162,2012-09-02,14:30,QUEENS,11358,40.757961,-73.785662,POINT (-73.7856623 40.757961),0.0,0.0,0,0,0,0,0,0,Prescription Medication,PASSENGER VEHICLE
1608163,2012-09-11,9:26,BROOKLYN,11211,40.717516,-73.943169,POINT (-73.943169 40.7175158),0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,OTHER
1608164,2012-09-05,17:10,QUEENS,11415,40.712001,-73.825456,POINT (-73.8254559 40.7120013),1.0,0.0,1,0,0,0,0,0,Passenger Distraction,PASSENGER VEHICLE

I want to turn our attention now to the types of vehicles that get into car crashes. Perhaps there is some pattern we can find in the data?

In [9]:
clean_crashes['vehicle_type_code1'].value_counts().head(40)

PASSENGER VEHICLE                      715236
SPORT UTILITY / STATION WAGON          313500
Sedan                                  156802
Station Wagon/Sport Utility Vehicle    126994
TAXI                                   50670
VAN                                    26540
OTHER                                  23982
PICK-UP TRUCK                          23069
UNKNOWN                                19929
Taxi                                   16247
SMALL COM VEH(4 TIRES)                 14559
LARGE COM VEH(6 OR MORE TIRES)         14527
BUS                                    14057
Pick-up Truck                          10529
LIVERY VEHICLE                         10481
Box Truck                              8244
Bus                                    6777
MOTORCYCLE                             6536
BICYCLE                                5568
Bike                                   3982
Tractor Truck Diesel                   3606
Van                                    2783
TK                                     2485
AMBULANCE                              2406
BU                                     2229
Motorcycle                             2014
Convertible                            1363
Dump                                   1220
DS                                     1006
Ambulance                              971
4 dr sedan                             886
FIRE TRUCK                             850
PK                                     843
Flat Bed                               787
Garbage or Refuse                      745
VN                                     712
Carry All                              618
Tractor Truck Gasoline                 515
Tow Truck / Wrecker                    418
CONV                                   398
Name: vehicle_type_code1, dtype: int64

This is clearly a field where users fill in their own text answer. Let's try to consolidate the inputs.

In [10]:
clean_crashes['vehicle_type_code1'].replace('SPORT UTILITY / STATION WAGON', 'SUV', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Station Wagon/Sport Utility Vehicle', 'SUV', inplace=True)
clean_crashes['vehicle_type_code1'].replace('TAXI', 'Taxi', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Bike', 'BICYCLE', inplace=True)
clean_crashes['vehicle_type_code1'].replace('VAN', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Motorscooter', 'SCOOTER', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Moped', 'SCOOTER', inplace=True)
clean_crashes['vehicle_type_code1'].replace('van', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('MOTORCYCLE', 'Motorcycle', inplace=True)
clean_crashes['vehicle_type_code1'].replace('AMBULANCE', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Refrigerated Van', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Motorbike', 'Motorcycle', inplace=True)
clean_crashes['vehicle_type_code1'].replace('AMBUL', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('CAB', 'Taxi', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Cab', 'Taxi', inplace=True)
clean_crashes['vehicle_type_code1'].replace('VAN T', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('VAN/T', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('van t', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('VAN', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Ambul', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('AMB', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Ambu', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('ambul', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Ambu', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Fire', 'FIRE TRUCK', inplace=True)
clean_crashes['vehicle_type_code1'].replace('fire', 'FIRE TRUCK', inplace=True)
clean_crashes['vehicle_type_code1'].replace('FIRE', 'FIRE TRUCK', inplace=True)
clean_crashes['vehicle_type_code1'].replace('FIRET', 'FIRE TRUCK', inplace=True)
clean_crashes['vehicle_type_code1'].replace('FDNY', 'FIRE TRUCK', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Other', 'Unknown', inplace=True)
clean_crashes['vehicle_type_code1'].replace('BUS', 'Bus', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Box T', 'Box Truck', inplace=True)
clean_crashes['vehicle_type_code1'].replace('GARBA', 'Garbage or Refuse', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Taxi', 'Taxi', inplace=True)
clean_crashes['vehicle_type_code1'].replace('taxy', 'Taxi', inplace=True)
clean_crashes['vehicle_type_code1'].replace('taxi', 'Taxi', inplace=True)
clean_crashes['vehicle_type_code1'].replace('AM', 'Ambulance', inplace=True)
clean_crashes['vehicle_type_code1'].replace('VN', 'Van', inplace=True)
clean_crashes['vehicle_type_code1'].replace('CONV', 'Convertible', inplace=True)
clean_crashes['vehicle_type_code1'].replace('Garbage or Refuse', 'Dump', inplace=True)
clean_crashes['vehicle_type_code1'].replace('OTHER', 'UNKNOWN', inplace=True)
clean_crashes['vehicle_type_code1'].value_counts().head(50)

PASSENGER VEHICLE                 715236
SUV                               440500
Sedan                             156802
Taxi                              66918
UNKNOWN                           43911
Pick-up Truck                     33598
Van                               30382
Bus                               20834
SMALL COM VEH(4 TIRES)            14559
LARGE COM VEH(6 OR MORE TIRES)    14527
LIVERY VEHICLE                    10481
BICYCLE                           9550
Motorcycle                        8673
Box Truck                         8247
Ambulance                         4018
Tractor Truck Diesel              3606
TK                                2485
BU                                2229
Dump                              1972
Convertible                       1761
FIRE TRUCK                        1058
DS                                1006
4 dr sedan                        886
PK                                843
Flat Bed                          787
SCOOTER                           673
Carry All                         618
Tractor Truck Gasoline            515
Tow Truck / Wrecker               418
DP                                367
Tanker                            259
Chassis Cab                       251
FB                                238
GG                                205
Concrete Mixer                    172
LL                                169
TR                                160
TT                                130
Flat Rack                         125
Armored Truck                     114
E-Sco                             111
TRAIL                             109
TRUCK                             101
Beverage Truck                    97
CB                                89
3-Door                            84
E-Bik                             80
TN                                77
Lift Boom                         72
RF                                56
Name: vehicle_type_code1, dtype: int64

There are so many values in a write in, we could clear it up all day, and still not be confident in the data... but we can try to do find some useful analysis. 

The 2 largest categories that have a comprable level of granularity are SUV and Sedans. SUVs tend to be larger, and we can see that there are more recorded crashes for them. But are they more dangerous? 

Let's sum up the number of fatalities into a new dataframe, and look at the 10 hieghest counts by vehicle type.

In [11]:
vehicle_fatalities = clean_crashes.groupby('vehicle_type_code1').number_of_persons_killed.sum().reset_index().copy()
vehicle_fatalities.nlargest(10, ['number_of_persons_killed'])

                 vehicle_type_code1  number_of_persons_killed
317  PASSENGER VEHICLE               617.0
398  SUV                             467.0
288  Motorcycle                      168.0
406  Sedan                           112.0
469  UNKNOWN                         88.0
69   Bus                             62.0
447  Taxi                            50.0
234  LARGE COM VEH(6 OR MORE TIRES)  49.0
492  Van                             45.0
344  Pick-up Truck                   42.0

Clearly `PASSENGER VEHICLE` vehicles are the most dangerous, leaving the groups sorted as is. The problem is, we cannot get more granular from this data set. It is a real limitation in allowing a fill-in answer type in the form, instead of selecting from a list. 

We can see that passenger vehicles are dangerous, but are some kinds of vehicles more dangerous than others. In the class of personal automabiles, then next two highest values with clear distinctions are SUVs and Sedans. SUV's seem *four* times more fatal than sedans, but is this just a trick of the numbers we have now?

### Statistic Analysis<a id='Statistics'></a>
We will perform a few two-sample t-tests, to let us know if there are statistically significant differences between the number of fatalities of different vehicle types.<br><div style="text-align: right">[Begining of the page](#Top)</div>

In [12]:
from scipy import stats
stats.ttest_ind(clean_crashes[['number_of_persons_killed']][clean_crashes['vehicle_type_code1']=="SUV"], 
                clean_crashes[['number_of_persons_killed']][clean_crashes['vehicle_type_code1']=="Sedan"])

Ttest_indResult(statistic=array([nan]), pvalue=array([nan]))

`nan`? But why? Maybe it is because the `number_of_persons_killed` column is not an integer?

In [13]:
clean_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608165 entries, 0 to 1608164
Data columns (total 17 columns):
accident_date                    1608165 non-null datetime64[ns]
accident_time                    1608165 non-null object
borough                          1120389 non-null object
zip_code                         1120192 non-null object
latitude                         1411650 non-null float64
longitude                        1411650 non-null float64
location                         1411650 non-null object
number_of_persons_injured        1608148 non-null float64
number_of_persons_killed         1608134 non-null float64
number_of_pedestrians_injured    1608165 non-null int64
number_of_pedestrians_killed     1608165 non-null int64
number_of_cyclist_injured        1608165 non-null int64
number_of_cyclist_killed         1608165 non-null int64
number_of_motorist_injured       1608165 non-null int64
number_of_motorist_killed        1608165 non-null int64
contributing_factor_vehicle_1    1603926 non-null object
vehicle_type_code1               1602769 non-null object
dtypes: datetime64[ns](1), float64(4), int64(6), object(6)
memory usage: 208.6+ MB

We can see that 'number_of_persons_killed' and 'number_of_persons_injured' column values are float. Let's change them from float to integer. To do so, we will first get rid of any missing values in the 'persons_injured' and 'persons_killed' columns.

In [14]:
clean_crashes.dropna(subset = ['number_of_persons_injured'], how='all', inplace=True)
clean_crashes.dropna(subset = ['number_of_persons_killed'], how='all', inplace=True)
clean_crashes['number_of_persons_injured'] = clean_crashes.number_of_persons_injured.astype(int)
clean_crashes['number_of_persons_killed'] = clean_crashes.number_of_persons_killed.astype(int)

In [15]:
stats.ttest_ind(clean_crashes[['number_of_persons_killed']][clean_crashes['vehicle_type_code1']=="SUV"], 
                clean_crashes[['number_of_persons_killed']][clean_crashes['vehicle_type_code1']=="Sedan"])

Ttest_indResult(statistic=array([3.5973131]), pvalue=array([0.00032155]))

It looks like SUV's are more lethal, though not enough to outlaw them. The small p-value, two orders below .05, low enough to show that the slight difference is in fact statistically significant, and not a trick of our dataset.

I wonder though: Are SUVs even more dangerous for pedestrians? They are bigger...

In [16]:
clean_crashes.dropna(subset = ['number_of_pedestrians_killed'], how='all', inplace=True)
clean_crashes['number_of_pedestrians_killed'] = clean_crashes.number_of_pedestrians_killed.astype(int)

In [17]:
stats.ttest_ind(clean_crashes[['number_of_pedestrians_killed']][clean_crashes['vehicle_type_code1']=="SUV"], 
                clean_crashes[['number_of_pedestrians_killed']][clean_crashes['vehicle_type_code1']=="Sedan"])

Ttest_indResult(statistic=array([4.9614584]), pvalue=array([6.99850216e-07]))

Wow!! It looks like the differences is greater (though not by much), but the pvalue is so small that there is almost no chance that the difference is random!

I don't want to cherry pick though. Let's see if SUVs are significantly different to the largest/broadest set of fatal vehicle types: "PASSENGER VEHICLE"

In [18]:
stats.ttest_ind(clean_crashes[['number_of_persons_killed']][clean_crashes['vehicle_type_code1']=="SUV"], 
                clean_crashes[['number_of_persons_killed']][clean_crashes['vehicle_type_code1']=="PASSENGER VEHICLE"])

Ttest_indResult(statistic=array([3.17566475]), pvalue=array([0.00149498]))

This seems similar to our first t-test. SUVs are slightly, but significatly more fatal to all people in NYC.
Now to check for pedestrians.

In [19]:
stats.ttest_ind(clean_crashes[['number_of_pedestrians_killed']][clean_crashes['vehicle_type_code1']=="SUV"], 
                clean_crashes[['number_of_pedestrians_killed']][clean_crashes['vehicle_type_code1']=="PASSENGER VEHICLE"])

Ttest_indResult(statistic=array([5.55912561]), pvalue=array([2.71189122e-08]))

Yikes! this is even worse than comparing SUVs to Sedans!

### Conclusion <a id='Conclusion'></a>

This notebook provided a good analysis of fatalities in nyc car crashes, by behicle type. We were limited by the free-form nature of the values in the `vehicle_type_code1` column, but we able to group enough of the values into unique enough categories. 

We were able to compare some of those categories, and determine that some vehicles are more dangerous to the lives of New Yorkers than others. We were able to point out the raw numbers, but also prove that they had statistical signifigance. We also found that *strong* evidence of how dangerous SUVs are to pedestrians in NYC.

One day, this analysis (or one like it) may help shift policy to help protect lives.
<br><div style="text-align: right">[Begining of the page](#Top)</div>