<a id='Top'></a>
<h1> <center>Analytics Programming: Module 5</center> </h1>
<p><h2><center>Data Analysis for the NYC Energy Efficiency Program.</center> 
<center>supported by a <a href="https://github.com/yuleidner/Katz_Data_A">M5 README file FIX THIS</a></center></h2></p>

#### <center> Alan Leidner Oct 4, 2019</center>

## Importing Data
### You are a data analyst for a brand-new New York City energy efficiency program. Your role at this early stage of the project is to gather, explore, and describe the data coming from NYC data providers. You should make a Jupyter Notebook that is aimed at an intelligent layperson -- someone who isn't a data analyst like you. They should understand what you're doing and why it matters, even if they don't totally understand the code itself.
#### Here, I will use

In [5]:
import pandas as pd
nyc_gas =  pd.read_csv("https://data.cityofnewyork.us/api/views/uedp-fegm/rows.csv?accessType=DOWNLOAD")
type(nyc_gas)

pandas.core.frame.DataFrame

## Includes series and DataFrame operations to determine

# * The size of the data.

In [7]:
nyc_gas.head()

,Zip Code,Building type (service class,Consumption (therms),Consumption (GJ),Utility/Data Source
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid

In [11]:
nyc_gas.size

5075

In [12]:
nyc_gas.shape

(1015, 5)

### The column labels. 

* Are there problematic or surprising column labels? 
* What would you suggest for column labels to use instead? 
* Rename the DataFrame with new labels that will be easier to use. 
* Use pd.DataFrame.rename to do this. 
* You may have to search online or use the question mark help utility in python to get the details on how to use rename. 
* This is an intentional stretch beyond what was covered in the chapter.

In [18]:
nyc_gas.columns

Index(['Zip Code', 'Building type (service class', ' Consumption (therms) ',
       ' Consumption (GJ) ', 'Utility/Data Source'],
      dtype='object')

In [24]:
nyc_gas.rename(index=str, columns={'Building type (service class': "Building Type", 
                                   ' Consumption (therms) ': 'Consumption (Therms)',
                                   ' Consumption (GJ) ': 'Consumption (GJ)',
                                   'Utility/Data Source' : 'Utility'}, inplace=True)

In [26]:
nyc_gas.columns

Index(['Zip Code', 'Building Type', 'Consumption (Therms)', 'Consumption (GJ)',
       'Utility'],
      dtype='object')

In [27]:
nyc_gas.head()

,Zip Code,Building Type,Consumption (Therms),Consumption (GJ),Utility
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid

## How many distinct building types are included, and their median energy consumption (in GJ). 
##### * Are there building types that should be combined? 
###### One method you might consider (although you can use more advanced techniques if you want) is to make new data frames for each building type, then analyze these smaller, more specific data frames.

In [41]:
pd.unique(nyc_gas['Building Type'])

array(['Commercial', 'Large residential', 'Institutional',
       'Small residential', 'Industrial', 'Large Residential',
       'Residential'], dtype=object)

In [44]:
len(pd.unique(nyc_gas['Building Type']))

7

Should combine residential and Residential

In [45]:
Code that changes values in place

SyntaxError: invalid syntax (<ipython-input-45-56650a5e2352>, line 1)

In [46]:
code that finds median energy consumption in GJ for each type  of building

SyntaxError: invalid syntax (<ipython-input-46-a08de0b1d05b>, line 1)

### What building type has the highest median GJ consumption? The lowest? Are you surprised?

### How many utility data reporters are included, and the mean and standard deviation of their energy consumption.

### Suggestions for data improvement. You may have noticed a few things that could have been done better in the data collection. Mention them!

# <center> <br>[Begining of the page](#Top)</center>