<a id='Top'></a>
# Analytics Programming: Module 10
## Aggregating NYC Vehicle Crash Data
#### Alan Leidner Nov 27, 2019

In this notebook I will create visualizations of data from the NYC Crashes Data set.

I will import the data, and then attempt to create visualizations from therectangular data. Through these images, I hope to give readers an understanding of the relative and signifigant danger to life presented by current drivers in NYC. I will attempt to compare fatalaties across boroughs to give the reader a sense of the relative danger, but then intend to map each fatality over time on an interactive map, to present a granular view of the data.

1. [Importing](#Importing)
2. [Borough Visualization](#Viz1)
    - [Slice Dataframe](#slice_data)
    - [Graph Algebra](#Graph1)
3. [Map Visualization](#Viz2)
    - [Slice Dataframe](#slice_data2)
    - [Interactive Heat Map](#Map)
4. [Closing Thoughts](#conclusion)
    

DataSource: https://data.cityofnewyork.us/resource/h9gi-nx95

### Importing the data<a id='Importing'></a>
First I will import the data using the Socrata API from the website.
<br> I will import it into a dataframe which will let us read the csv data.

In [1]:
import pandas as pd
import datetime as dt
pd.set_option('display.max_colwidth', -1) # shows full cell text, instead of  truncated data in cells
pd.set_option('display.max.columns', None) # Let's me see all columns when calling a dataframe
crashes = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=20000")

In [2]:
pd.concat([crashes.head(), crashes.tail()], axis=0)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-08-23T00:00:00.000,8:00,BRONX,10456.0,40.832500,-73.904400,POINT (-73.9044 40.8325),NaN,NaN,540 EAST 169 STREET,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4195346,Sedan,NaN,NaN,NaN,NaN
1,2019-09-13T00:00:00.000,16:00,NaN,NaN,40.722496,-73.940414,POINT (-73.940414 40.722496),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4205878,Flat Bed,Pick-up Truck,NaN,NaN,NaN
2,2019-09-02T00:00:00.000,13:00,BROOKLYN,11233.0,40.680900,-73.928650,POINT (-73.92865 40.6809),NaN,NaN,321 REID AVENUE,0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,NaN,NaN,NaN,4199096,Sedan,NaN,NaN,NaN,NaN
3,2019-09-16T00:00:00.000,5:10,STATEN ISLAND,10308.0,40.553150,-74.155290,POINT (-74.15529 40.55315),NaN,NaN,162 COLON AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4206461,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-08-23T00:00:00.000,15:30,MANHATTAN,10001.0,40.749054,-73.995760,POINT (-73.99576 40.749054),8 AVENUE,WEST 29 STREET,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,Unspecified,NaN,NaN,4193774,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN
19995,2018-04-25T00:00:00.000,5:25,BRONX,10465.0,40.830100,-73.837760,POINT (-73.83776 40.8301),NaN,NaN,2505 BRUCKNER BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3892060,Sedan,Sedan,NaN,NaN,NaN
19996,2018-05-05T00:00:00.000,12:00,BROOKLYN,11211.0,40.711480,-73.945600,POINT (-73.9456 40.71148),GRAND STREET,MANHATTAN AVENUE,NaN,1,0,0,0,1,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,3896011,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
19997,2018-05-11T00:00:00.000,7:45,BROOKLYN,11233.0,40.669476,-73.919975,POINT (-73.919975 40.669476),EASTERN PARKWAY,HOWARD AVENUE,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,3898623,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19998,2018-04-25T00:00:00.000,1:13,NaN,NaN,40.709442,-73.960700,POINT (-73.9607 40.709442),BROADWAY,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3887698,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
19999,2018-05-10T00:00:00.000,18:30,BROOKLYN,11212.0,40.670006,-73.910840,POINT (-73.91084 40.670006),NaN,NaN,414 ROCKAWAY AVENUE,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3898280,Sedan,Pick-up Truck,NaN,NaN,NaN

In [3]:
crashes.shape

(20000, 29)

In [4]:
crashes['accident_date'] = pd.to_datetime(crashes['accident_date']) #makes the date easier to work with later
crashes

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-08-23,8:00,BRONX,10456.0,40.832500,-73.904400,POINT (-73.9044 40.8325),NaN,NaN,540 EAST 169 STREET,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4195346,Sedan,NaN,NaN,NaN,NaN
1,2019-09-13,16:00,NaN,NaN,40.722496,-73.940414,POINT (-73.940414 40.722496),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4205878,Flat Bed,Pick-up Truck,NaN,NaN,NaN
2,2019-09-02,13:00,BROOKLYN,11233.0,40.680900,-73.928650,POINT (-73.92865 40.6809),NaN,NaN,321 REID AVENUE,0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,NaN,NaN,NaN,4199096,Sedan,NaN,NaN,NaN,NaN
3,2019-09-16,5:10,STATEN ISLAND,10308.0,40.553150,-74.155290,POINT (-74.15529 40.55315),NaN,NaN,162 COLON AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4206461,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-08-23,15:30,MANHATTAN,10001.0,40.749054,-73.995760,POINT (-73.99576 40.749054),8 AVENUE,WEST 29 STREET,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,Unspecified,NaN,NaN,4193774,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN
5,2019-09-15,11:30,QUEENS,11413.0,40.676758,-73.743220,POINT (-73.74322 40.676758),NaN,NaN,134-15 227 STREET,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4205885,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
6,2019-09-17,7:19,BRONX,10467.0,40.884407,-73.857640,POINT (-73.85764 40.884407),NaN,NaN,834 EAST 222 STREET,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4210598,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
7,2019-08-29,16:40,BRONX,10458.0,40.852528,-73.884346,POINT (-73.884346 40.852528),NaN,NaN,2323 CROTONA AVENUE,1,0,0,0,0,0,1,0,Unsafe Speed,Passing or Lane Usage Improper,NaN,NaN,NaN,4196957,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
8,2019-08-20,6:45,BROOKLYN,11212.0,40.658195,-73.925980,POINT (-73.92598 40.658195),NaN,NaN,269 REMSEN AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4191949,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
9,2019-09-08,1:10,NaN,NaN,40.804700,-73.912430,POINT (-73.91243 40.8047),BRUCKNER BOULEVARD,EAST 138 STREET,NaN,1,0,0,0,0,0,1,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4202783,Sedan,NaN,NaN,NaN,NaN
10,2019-09-07,17:10,NaN,NaN,40.695858,-73.820060,POINT (-73.82006 40.695858),129 STREET,ATLANTIC AVENUE,NaN,0,0,0,0,0,0,0,0,Aggressive Driving/Road Rage,Driver Inattention/Distraction,NaN,NaN,NaN,4201919,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
11,2019-09-04,12:43,QUEENS,11361.0,40.768753,-73.768936,POINT (-73.768936 40.768753),36 AVENUE,215 PLACE,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4199642,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
12,2019-09-07,12:50,BRONX,10456.0,40.831417,-73.899864,POINT (-73.899864 40.831417),NaN,NaN,1307 BOSTON ROAD,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4201404,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
13,2019-08-30,0:00,QUEENS,11434.0,40.663770,-73.768810,POINT (-73.76881 40.66377),NaN,NaN,145-80 FARMERS BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4197058,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
14,2019-08-27,14:52,BROOKLYN,11217.0,40.683580,-73.976170,POINT (-73.97617 40.68358),NaN,NaN,620 ATLANTIC AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4195885,Sedan,Pick-up Truck,NaN,NaN,NaN
15,2019-08-25,17:11,NaN,NaN,40.741135,-73.898600,POINT (-73.8986 40.741135),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4194270,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,2019-09-03,14:05,NaN,NaN,40.610220,-74.093890,POINT (-74.09389 40.61022),STATEN ISLAND EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4199085,Station Wagon/Sport Utility Vehicle,Flat Bed,NaN,NaN,NaN
17,2019-09-12,1:21,BROOKLYN,11212.0,40.661830,-73.920940,POINT (-73.92094 40.66183),NaN,NaN,214 ROCKAWAY PARKWAY,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4204552,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,2019-08-24,4:11,MANHATTAN,10017.0,40.756607,-73.976510,POINT (-73.97651 40.756607),EAST 48 STREET,MADISON AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,NaN,NaN,NaN,4194764,Sedan,Pick-up Truck,NaN,NaN,NaN
19,2019-09-02,0:36,NaN,NaN,40.653267,-73.939270,POINT (-73.93927 40.653267),ALBANY AVENUE,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4198602,Station Wagon/Sport Utility Vehicle,TRA/R,NaN,NaN,NaN
20,2019-09-08,21:20,BROOKLYN,11210.0,40.635050,-73.948900,POINT (-73.9489 40.63505),NaN,NaN,650 EAST 29 STREET,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4203107,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
21,2019-09-15,2:32,NaN,NaN,40.852880,-73.920250,POINT (-73.92025 40.85288),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4205771,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
22,2019-09-14,18:00,BROOKLYN,11203.0,40.649216,-73.944580,POINT (-73.94458 40.649216),EAST 35 STREET,SNYDER AVENUE,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4206093,Sedan,Sedan,NaN,NaN,NaN
23,2019-08-20,19:45,QUEENS,11694.0,40.581604,-73.830770,POINT (-73.83077 40.581604),ROCKAWAY BEACH BOULEVARD,BEACH 109 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4192568,Sedan,Sedan,NaN,NaN,NaN
24,2019-09-08,4:07,NaN,NaN,40.877796,-73.868060,POINT (-73.86806 40.877796),EAST GUN HILL ROAD,OLINVILLE AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4202069,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
25,2019-09-07,13:40,BRONX,10468.0,40.866726,-73.897990,POINT (-73.89799 40.866726),EAST 193 STREET,JEROME AVENUE,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Backing Unsafely,NaN,NaN,NaN,4201178,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
26,2019-09-15,15:00,BRONX,10461.0,40.847420,-73.844800,POINT (-73.8448 40.84742),NaN,NaN,1740 EASTCHESTER ROAD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4206435,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
27,2019-08-30,11:10,NaN,NaN,40.838010,-73.873290,POINT (-73.87329 40.83801),BRONX RIVER PARKWAY,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,NaN,NaN,NaN,4197281,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
28,2019-09-12,15:00,NaN,NaN,40.574420,-74.164330,POINT (-74.16433 40.57442),YUKON AVENUE,LOTT LANE,NaN,1,0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4204696,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
29,2019-09-04,10:10,BRONX,10467.0,40.876022,-73.872925,POINT (-73.872925 40.876022),EAST 209 STREET,PARKSIDE PLACE,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4199499,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,2018-05-11,5:00,NaN,NaN,NaN,NaN,NaN,KINGS HIGHWAY,FOSTER AVENUE,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,3902648,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19971,2018-05-14,18:30,NaN,NaN,40.703083,-73.857660,POINT (-73.85766 40.703083),JACKIE ROBINSON PKWY,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3900309,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
19972,2018-05-15,0:10,MANHATTAN,10036.0,40.758660,-73.988750,POINT (-73.98875 40.75866),NaN,NaN,700 8 AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3901306,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
19973,2018-04-30,4:00,MANHATTAN,10001.0,40.753387,-73.996310,POINT (-73.99631 40.753387),9 AVENUE,WEST 34 STREET,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Passing Too Closely,NaN,NaN,NaN,3897533,TK,PASSENGER VEHICLE,NaN,NaN,NaN
19974,2018-05-15,17:30,NaN,NaN,40.842260,-73.872280,POINT (-73.87228 40.84226),BRONX RIVER PARKWAY,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3905336,Sedan,Sedan,NaN,NaN,NaN
19975,2018-04-25,20:30,NaN,NaN,40.786003,-73.802190,POINT (-73.80219 40.786003),CROSS ISLAND PARKWAY,NaN,NaN,1,0,0,0,0,0,1,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,3888177,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
19976,2018-04-29,7:20,BRONX,10454.0,40.803593,-73.919785,POINT (-73.919785 40.803593),BRUCKNER BOULEVARD,SAINT ANNS AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,3890833,BU,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN
19977,2018-05-15,15:45,NaN,NaN,40.870907,-73.907250,POINT (-73.90725 40.870907),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,3902692,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
19978,2018-05-12,20:28,BRONX,10469.0,40.877728,-73.859280,POINT (-73.85928 40.877728),EAST 213 STREET,BRONXWOOD AVENUE,NaN,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3899570,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
19979,2018-05-17,14:56,QUEENS,11364.0,40.753826,-73.756800,POINT (-73.7568 40.753826),56 AVENUE,223 STREET,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3902499,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
19980,2018-05-01,18:44,MANHATTAN,10002.0,40.715836,-73.994900,POINT (-73.9949 40.715836),CANAL STREET,CHRYSTIE STREET,NaN,1,0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3893371,MOTORCYCLE,BICYCLE,NaN,NaN,NaN
19981,2018-05-02,18:45,BROOKLYN,11222.0,40.730427,-73.951920,POINT (-73.95192 40.730427),NaN,NaN,189 GREENPOINT AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3892762,TAXI,NaN,NaN,NaN,NaN
19982,2018-04-30,19:50,NaN,NaN,40.704494,-73.817430,POINT (-73.81743 40.704494),VAN WYCK EXPWY,NaN,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,3891406,SPORT UTILITY / STATION WAGON,DS,NaN,NaN,NaN
19983,2018-05-15,10:20,QUEENS,11377.0,40.763584,-73.904205,POINT (-73.904205 40.763584),BOROUGH PLACE,50 STREET,NaN,0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,3901965,Sedan,Pick-up Truck,NaN,NaN,NaN
19984,2018-05-03,8:10,NaN,NaN,40.844524,-73.902725,POINT (-73.902725 40.844524),WEBSTER AVENUE,CROSS BRONX EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3893226,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
19985,2018-04-24,16:00,MANHATTAN,10019.0,40.760708,-73.976500,POINT (-73.9765 40.760708),NaN,NaN,9 WEST 53 STREET,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3887609,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
19986,2018-05-12,23:14,BRONX,10462.0,40.841278,-73.863590,POINT (-73.86359 40.841278),EAST TREMONT AVENUE,UNIONPORT ROAD,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,3899674,Sedan,Sedan,NaN,NaN,NaN
19987,2018-05-07,7:35,NaN,NaN,40.679440,-73.897140,POINT (-73.89714 40.67944),JACKIE ROBINSON PKWY,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN,3895930,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN
19988,2018-05-10,14:00,QUEENS,11368.0,40.739727,-73.860050,POINT (-73.86005 40.739727),NaN,NaN,54-39 100 STREET,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3898106,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19989,2018-05-06,16:10,QUEENS,11364.0,NaN,NaN,NaN,NaN,NaN,221-16 HARDING EXPRESSWAY,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3895460,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
19990,2018-05-09,17:40,BROOKLYN,11223.0,40.605732,-73.985016,POINT (-73.985016 40.605732),KINGS HIGHWAY,WEST 12 STREET,NaN,4,0,0,0,0,0,4,0,Failure to Yield Right-of-Way,Unspecified,Unspecified,NaN,NaN,3897097,SPORT UTILITY / STATION WAGON,BU,SPORT UTILITY / STATION WAGON,NaN,NaN
19991,2018-05-02,22:40,NaN,NaN,40.845806,-73.929210,POINT (-73.92921 40.845806),ALEXANDER HAMILTON BRIDGE,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3899857,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
19992,2019-08-12,23:00,NaN,NaN,NaN,NaN,NaN,EAST 57 STREET,QUEENSBORO BRIDGE,NaN,0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,4187716,Sedan,Taxi,NaN,NaN,NaN
19993,2018-05-13,15:00,NaN,NaN,40.668625,-73.738235,POINT (-73.738235 40.668625),LAURELTON PARKWAY,NaN,NaN,5,0,0,0,0,0,5,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3899705,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19994,2018-05-02,14:40,STATEN ISLAND,10301.0,40.631447,-74.098885,POINT (-74.098885 40.631447),FOREST AVENUE,RANDALL AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3892319,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
19995,2018-04-25,5:25,BRONX,10465.0,40.830100,-73.837760,POINT (-73.83776 40.8301),NaN,NaN,2505 BRUCKNER BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3892060,Sedan,Sedan,NaN,NaN,NaN
19996,2018-05-05,12:00,BROOKLYN,11211.0,40.711480,-73.945600,POINT (-73.9456 40.71148),GRAND STREET,MANHATTAN AVENUE,NaN,1,0,0,0,1,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,3896011,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
19997,2018-05-11,7:45,BROOKLYN,11233.0,40.669476,-73.919975,POINT (-73.919975 40.669476),EASTERN PARKWAY,HOWARD AVENUE,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,3898623,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19998,2018-04-25,1:13,NaN,NaN,40.709442,-73.960700,POINT (-73.9607 40.709442),BROADWAY,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3887698,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
19999,2018-05-10,18:30,BROOKLYN,11212.0,40.670006,-73.910840,POINT (-73.91084 40.670006),NaN,NaN,414 ROCKAWAY AVENUE,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3898280,Sedan,Pick-up Truck,NaN,NaN,NaN

# Using plotly and/or bokeh, make two data visualizations, at least one of which is interactive or animated. "Interactive" means that the viewer can change the data visualization by doing something like changing a widget value, zooming in, or clicking on a data point. "Animated" means that with or without user interaction, the data visualization moves and changes to represent some change across data (like change in time).

### Borough Visualization <a id='Viz1'></a><br><div style="text-align: right">[Begining of the page](#Top)</div>

Group crashes by borough and month, along with the sum of persons killed. <a id='slice_data'>

In [34]:
crashes_by_month = crashes.groupby(['borough', pd.Grouper(key='accident_date', freq='M')]).number_of_persons_killed.sum().copy()
crashes_by_month

borough        accident_date
BRONX          2018-02-28       0
               2018-04-30       0
               2018-05-31       0
               2019-05-31       0
               2019-06-30       0
               2019-08-31       1
               2019-09-30       1
               2019-10-31       0
               2019-11-30       0
BROOKLYN       2017-10-31       0
               2017-11-30       0
               2018-02-28       0
               2018-03-31       0
               2018-04-30       0
               2018-05-31       0
               2018-09-30       0
               2019-05-31       0
               2019-06-30       0
               2019-08-31       1
               2019-09-30       4
               2019-10-31       0
               2019-11-30       0
MANHATTAN      2017-10-31       0
               2018-02-28       0
               2018-03-31       0
               2018-04-30       0
               2018-05-31       0
               2019-08-31       0
               2019-09-30       0
               2019-10-31       0
               2019-11-30       0
QUEENS         2018-02-28       0
               2018-03-31       0
               2018-04-30       0
               2018-05-31       0
               2019-05-31       0
               2019-06-30       0
               2019-08-31       1
               2019-09-30       3
               2019-10-31       0
               2019-11-30       0
STATEN ISLAND  2018-02-28       0
               2018-04-30       0
               2018-05-31       0
               2018-09-30       0
               2019-08-31       0
               2019-09-30       0
Name: number_of_persons_killed, dtype: int64

In [35]:
crashes_by_month

borough        accident_date
BRONX          2018-02-28       0
               2018-04-30       0
               2018-05-31       0
               2019-05-31       0
               2019-06-30       0
               2019-08-31       1
               2019-09-30       1
               2019-10-31       0
               2019-11-30       0
BROOKLYN       2017-10-31       0
               2017-11-30       0
               2018-02-28       0
               2018-03-31       0
               2018-04-30       0
               2018-05-31       0
               2018-09-30       0
               2019-05-31       0
               2019-06-30       0
               2019-08-31       1
               2019-09-30       4
               2019-10-31       0
               2019-11-30       0
MANHATTAN      2017-10-31       0
               2018-02-28       0
               2018-03-31       0
               2018-04-30       0
               2018-05-31       0
               2019-08-31       0
               2019-09-30       0
               2019-10-31       0
               2019-11-30       0
QUEENS         2018-02-28       0
               2018-03-31       0
               2018-04-30       0
               2018-05-31       0
               2019-05-31       0
               2019-06-30       0
               2019-08-31       1
               2019-09-30       3
               2019-10-31       0
               2019-11-30       0
STATEN ISLAND  2018-02-28       0
               2018-04-30       0
               2018-05-31       0
               2018-09-30       0
               2019-08-31       0
               2019-09-30       0
Name: number_of_persons_killed, dtype: int64

In [36]:
crashes_by_month.dtypes()

TypeError: 'numpy.dtype' object is not callable

and now to graph <a id='Graph1'>

In [37]:
import plotly.express as px
#fig = px.line(crashes_by_month,x ='accident_date',y ='number_of_persons_killed', color='borough')
#fig.show()
fig = px.box(crashes_by_month,  x="borough", y="accident_date")
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['number_of_persons_killed'] but received: borough

### Map Visualization <a id='Viz2'></a><br><div style="text-align: right">[Begining of the page](#Top)</div>

We will have to prepare a new dataframe with the lat/long values, before this can work. <a id='slice_data2'>

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(go.Densitymapbox(lat=quakes.Latitude, lon=quakes.Longitude, z=quakes.Magnitude, radius=10))
fig.update_layout(mapbox_style="stamen-terrain", mapbox_center_lon=180)
fig.update_layout(margin={"r":1,"t":0,"l":0,"b":0})
fig.show()<a id='Map'>

### Conclusion <a id='conclusion'></a><br><div style="text-align: right">[Begining of the page](#Top)</div>