<a id='Top'></a>
<h1> <center>Analytics Programming: Module 3</center> </h1>
<p><h2><center>Unicode, algorythms, dictionaries, encoding functions,</center> 
<center>in addition to <a href="https://github.com/yuleidner/Katz_Data_Analytics/blob/master/M2/M2%20Data%20Analyitcs.ipynb">M2</a> lists, loops, and comprehensions, </center>
<center>supported by a README file </center></h2></p>

#### <center> Alan Leidner Sept 16, 2019</center>
[“M2 Work”](#M2) <br>
[“M3 Work”](#M3)

# M2 <a id='M2'></a>

## 1) Create a list of all lower case letters and a separate list of the numbers 1-26.

In [3]:
letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]

## 2) Use a for loop to print " [ number ] is a multiple of 4"
* substitute the appropriate number, every time the number in your list of numbers is, in fact, a multiple of 4 (divides into 4 with no remainder)".

In [5]:
for i in numbers:
    if i % 4 == 0:
        print(f'{i} is a multiple of 4')

4 is a multiple of 4
8 is a multiple of 4
12 is a multiple of 4
16 is a multiple of 4
20 is a multiple of 4
24 is a multiple of 4

## 3) Print both lists and print their types.

* When you print the types, print the types in a sentence where you concatenate (paste together) some words and the output of "type()".
* Not sure how to make the output of type into a printable string? Try "str()"!
* The output could look something like "letters is of type <class 'list'>".

In [51]:
print(f'letters is of type {type(letters)}') 
print (letters)
print('\n')
print(f'numbers is of type {type(numbers)}') 
print (numbers)

letters is of type <class 'list'>
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']


numbers is of type <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

## 4) Using zip, create a list of tuples, where each tuple consists of the lower case letter and its numerical equivalent, 1-26. 
* You could call this "tupleList" or something equally helpful.
* Print the list of tuples you just created

In [31]:
tupleList = list(zip(letters,numbers))

In [29]:
tupleList

[('a', 1),
 ('b', 2),
 ('c', 3),
 ('d', 4),
 ('e', 5),
 ('f', 6),
 ('g', 7),
 ('h', 8),
 ('i', 9),
 ('j', 10),
 ('k', 11),
 ('l', 12),
 ('m', 13),
 ('n', 14),
 ('o', 15),
 ('p', 16),
 ('q', 17),
 ('r', 18),
 ('s', 19),
 ('t', 20),
 ('u', 21),
 ('v', 22),
 ('w', 23),
 ('x', 24),
 ('y', 25),
 ('z', 26)]

## 6) Print the type of the list and the type of the first element in that list.
* Again, printing the type in a sentence you compose by concatenating a string with the output of "type()".

In [34]:
print(f'tupleList is of type {type(tupleList)}, and the first element is {tupleList[0]}')

tupleList is of type <class 'list'>, and the first element is ('a', 1)

## 7) Using list comprehension, create a list of letters for which have ordinal values (1-26) that are multiples of 4.

In [53]:
letter_mod_four = [i[0] for i in tupleList if i[1] % 4 ==0]
letter_mod_four

['d', 'h', 'l', 'p', 't', 'x']

# M3 <a id='M3'></a>

## 1) On the backend of a computer, characters are represented by something called a unicode value. This value ensures all systems across languages and countries can talk to each other using the same backend language. Here, I am using a for loop to show the unicode value of each lowercase letter, using ord() function.

In [15]:
for a in letters:
    print (ord(a))

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

## Note: For clarity's sake, I am creating a new list of lowercase letters using the String Library

In [68]:
import string
lowercase_letters = list(string.ascii_lowercase)
lowercase_letters

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

## 2) Here I have demonstrated an algorythm that iterates over a list of lowercase letters, and returns a list of unique values that have been mathematically modified from their unicode values. 
### The algorythm first creates an empty list, which is then populated by a loop which squares the unicode value of those letters. 
### The algorythm rejects a resulting list if there are not 26 values, indicating some letters may have been lost or that other characters made there way into our list. 
#### This is unlikely due to the cell above where we created a new list from the string library

In [186]:
mathed_letters = []
for a in lowercase_letters:
    mathed_letters.append(ord(a)**2)
if len(mathed_letters) == 26:
    print (mathed_letters)
else:
    print ('Error your list has too many values for the english language lowercase letters')

[9409, 9604, 9801, 10000, 10201, 10404, 10609, 10816, 11025, 11236, 11449, 11664, 11881, 12100, 12321, 12544, 12769, 12996, 13225, 13456, 13689, 13924, 14161, 14400, 14641, 14884]

## 3) Here, I have combined my list of lowercase letters with its coresponding list of squared unicode values

### I have zipped these values into a Dictionary, which ensures that each letter and number are a pair.

In [70]:
zipped = dict(zip(lowercase_letters, mathed_letters))
zipped

{'a': 9409,
 'b': 9604,
 'c': 9801,
 'd': 10000,
 'e': 10201,
 'f': 10404,
 'g': 10609,
 'h': 10816,
 'i': 11025,
 'j': 11236,
 'k': 11449,
 'l': 11664,
 'm': 11881,
 'n': 12100,
 'o': 12321,
 'p': 12544,
 'q': 12769,
 'r': 12996,
 's': 13225,
 't': 13456,
 'u': 13689,
 'v': 13924,
 'w': 14161,
 'x': 14400,
 'y': 14641,
 'z': 14884}

## 4) Here I have created my first function.

### This function iterates over a keyword arguement. 
* If that arguemnt is not a string, the function existrs with an error message
* If that arguement consists *only* of lowercase letters in a string then the function returns a list of the squared values of those letters.
* If the function iterates over a character that isnt a lowercase letter, the function returns an error indicating the problem, but still returns the list until that point.

In [265]:
def encode_lowercase_function(string):
    string_encoded =[]
    if type(string) != str:
        return (f'Error: {string} must be a string consisting ONLY of lowercase letters')
    else:
        for x in string:
            try:
                string_encoded.append(zipped[x])
            except: 
                print(f'Error: The input string may only contain lowercase letters. {x} does not meet the criteria, and the funcction returns values only until {x}.') 
                break
        return string_encoded

## 5) Example using the function with the word "hello".

In [263]:
encode_lowercase_function('hello')

[10816, 10201, 11664, 11664, 12321]

## 6) Example using the function with the string “hello there”.

In [269]:
encode_lowercase_function('hello there')

Error: The input string may only contain lowercase letters.   does not meet the criteria, and the funcction returns values only until  .

[10816, 10201, 11664, 11664, 12321]

## 7) Example using the function with the a variable that is not type string.

In [270]:
encode_lowercase_function(9)

'Error: 9 must be a string consisting ONLY of lowercase letters'

# <center>[“M2 Work”](#M2) <br>[“M3 Work”](#M3)<br>[“Begining of the page”](#Top)</center>